@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Prototype;
  src: url(fonts/Prototype.ttf);
}

:root{
  font-family: 'Prototype';
  background-color: black;
  background: url("img/terraforming-mars-artwork.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 10px;
}